- for c in controls
  div(id=c.code class="button control")
    label() #{c.name}:
    case c.type
      when 'range'
        input(id="#{c.code}_range"  type=c.type min=c.min max=c.max step=c.step)
        +display(c)
      when 'button'
        input(id="#{c.code}_button" type=c.type value=c.code)
        +display(c)
      when 'display'
        +display(c)
      default
        +display(c)  
    
mixin display(c)
  input(id="#{c.code}_display" type="text" readonly)
